*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
}

/* GENERAL */

h1{
  font-size: 90px;
}

a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}


/* HEADER */

header{
  height: 80px;
  font-size: 16px;
}


.main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 145px;
  height: 80px;
}

.main ul{
  display: flex;
  text-decoration: none;
  list-style: none;
}

.main a{
  padding: 0 20px;
}

.main .left,.right{
  display: flex;
  justify-content: space-between;
}

.main .button a{
  padding: 5px 20px;
  margin-left: 10px;
  font-size: 17px;
  color: white;
  background-color: #0061FF;
}

/* JUMBOTRON */

.jumbotron{
  background-color: #B4D0E7;
  height: 750px;
  width: 100%;
  padding: 80px 280px;
}

.jumbotron .container{
  display: flex;
  flex-direction: row;
}

.container{
  margin-top: 40px;
}

.container .text{
  width: 30%;
}

.container .text .last{
  font-size: 15px;
  margin-bottom: 40px;
}

.container .button{
  margin-top: 40px;
  margin-bottom: 20px;
}


.container .button a{
  padding: 10px 25px;
  font-size: 17px;
  color: white;
  background-color: #0061FF;
}

.container .image{
  width: 70%;
}

.container .image img{
  margin-left: 60px;

  max-width: 90%;
}
